
.photo-gallery {
    position: relative;
    float: right;
    color: #313437;
    background-color: #fff;
    border-radius: 30px;
    font-family: 'Lato', Arial, sans-serif;
    margin-top: 8%;
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.27);
    max-width: 80%;
    margin-right: 1.5%;
    margin-bottom: 2%;
    }
    
    .photo-gallery p {
    color: #7d8285;
    }
    
    .photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    }
    
    .photo-gallery .intro {
    font-size: 16px;
    margin-top: 30px;
    }
    
    .rows{
    display:flex;
    flex-wrap:wrap;
    margin: 3em;
    }
    .img-fluid{
    width:280px;
    margin: 0.5em;
    }
    
    .text-center{
    text-align: center;
    }