.dummy{
  padding-top: 7%;
}
.emp-profile{
  border-radius: 30px;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.27);
  margin-left: 18%;
  max-width: 80%;
}

.titlename{
  font-size: 30px;
  color: #333;
}

.profile-edit-btn{
  border: none;
  border-radius: 3px;
  width: 9em;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #6c757d;
  cursor: pointer;
  float: right;
  margin-top: -23%;  
  margin-right:6%;
}

.details label{
  display: inline;
  font-weight: 600;
}
.details p{
  margin-left:10%;
  font-weight: 600;
  color: #797979;
}  

.profilepic{
  width: 70%;
  padding:40px;
  border-radius: 15%;
}

.colm{
  max-width: 40em;
}
