body{
    background: #fff;
    margin:0em;
  }
  
    .topbar{
        height: 75px;
        background-color:#343a40!important;
        top:0;
        position:fixed;
        right:0;
        left:0;
        z-index:1030;
        color:#fff;
        border-color:hsla(0,0%,100%,.1);
    }

    .logo{
        max-width: 5em;
        margin-top: 0.3em;
        margin-left: 3em;
        float: left;
    }

   
    .profile-pic{
        max-width: 4em;
        margin-right: 3em;
        border-radius: 50%;
        float: right;
        margin-top: 0.5em;
        margin-right: 2em;
    }

    .dropbtn {
        color: white;
        border: none;
        cursor: pointer;
        background-color: hsla(0,0%,100%,0);
        float: right;
      }
      
      .dropdown {
        float: right;
        margin-top: 2em;
        margin-right: 1em;
      }
      
      .dropdown-content {
        margin: 1em;
        display: none;
        position: relative;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
    
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
            
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
    