body{
    background: #fff;
    margin:0em;
  }
  
    .topbar{
        height: 75px;
        background-color:#343a40!important;
        top:0;
        position:fixed;
        right:0;
        left:0;
        z-index:1030;
        color:#fff;
        border-color:hsla(0,0%,100%,.1);
    }

    .logo{
        max-width: 5em;
        margin-top: 0.3em;
        margin-left: 3em;
        float: left;
    }

    .sidebar {
        position: fixed;
        float: left;
        width: 210px;
        height: 100vh;
        background: #212529;
        font-size: 18px;
    }
    
    .sidenav {
        position: relative;
        top: 15vh;
        padding-right:20%;
       
    }
    
    .sidenav a{
        font-weight: bolder;
        color:#ff872f;
        text-decoration: none;
        
    }
    
    .sidenav a:hover{
        color:azure ;
        text-decoration: none;
    }
    .sidebar-list{
        padding-top: 35%;
        list-style: none;
    }
  